-My build DIGITAL Command Language:
-Muhammad Adi Nugroho,S.Adm.Neg.:
-Via My Notepad (HTML Editor):
<body>
<link rel="stylesheet" href="http://www.excelfunctions.net/support-files/combined.css" />
<script defer="defer" type="text/javascript" src="http://www.excelfunctions.net/support-files/mainscripts.js"></script>
<style type="text/css">body,div.side-header{border:1px solid #ddd;margin-bottom:10px;} body,p.side-header{background-color:#f3f3f3;border-bottom:1px solid #ddd;color:#000000;display:block;margin:0;padding:4px 12px;} body,div.alphabetical{margin:12px 10px;} body,div.pop-search{font-size:.9375em;margin:10px 20px 20px 40px;text-align:left;} body,div.pop-search p{color:#666;margin-bottom:0;} body,div.pop-search-inner{margin:0 0 8px 30px;text-align:left;} body,div.whats-new{font-size:.9375em;margin:10px;} </style></head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> 
<script> 
(adsbygoogle = window.adsbygoogle || []).push({ 
google_ad_client: "ca-pub-5138331548304515", 
enable_page_level_ads: true 
}); 
</script>

<h1>Muhammad Adi Nugroho,S.Adm.Neg.</h1>
<p>Muhammad Adi Nugroho,S.Adm.Neg.</p>
</body>
